# Generated build files by Android Studio
bin/
gen/
out/

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android Studio captures folder
captures/

# Intellij
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries

# Keystore files
*.jks

# Built application files
*.apk
*.ap_